.fullbox {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 800px;
  height: 500px;
  max-width: 800px;
  max-height: 500px;
}

.division {
  height: inherit;
  width: 33.33333333333333333333333333333333333333%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 30px 10px 20px;
}

.division:first-child {
  background-color: hsl(31, 77%, 52%);
  border-radius: 3% 0 0 3%;
}

.division:first-child a {
  color: hsl(31, 77%, 52%);
}

.division:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}

.division:nth-child(2) a {
  color: hsl(184, 100%, 22%);
}

.division:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 3% 3% 0;
}

.division:nth-child(3) a {
  color: hsl(179, 100%, 13%);
}

img {
  width: 40%;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-size: 2em;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 20px;
  text-align: left;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  width: 82%;
  height: 50px;
  border: solid 1px white;
  border-radius: 40px;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

a:active {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 600px) {
  .fullbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .card {
    display: block;
    width: 250px;
  }

  .division {
    width: 200px;
  }

  .division:first-child {
    border-radius: 3% 3% 0 0;
  }

  .division:nth-child(3) {
    border-radius: 0 0 3% 3%;
  }
}
